@model DEIS_ISEC.Models.ViewModels

<h3>Caixa de Saída</h3>

<table class="table">
    <tr>
        <th>
            Destinatário
        </th>
        <th>
            Data
        </th>
        <th>
            Hora
        </th>
        <th>
            Assunto
        </th>
        <th>
            Entregue
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Mensagens)
    {
    <tr>
        @{
            var dest = "";
            if (User.IsInRole("Alunos"))
            {
                if (Model.Docentes.Any(x => x.UserId == item.DestinarioId))
                {
                    dest = Model.Docentes.SingleOrDefault(x => x.UserId == item.DestinarioId).Nome + " " + Model.Docentes.SingleOrDefault(x => x.UserId == item.DestinarioId).Apelido;
                }
                else if (Model.Empresas.Any(x => x.UserId == item.DestinarioId))
                {
                    dest = Model.Empresas.SingleOrDefault(x => x.UserId == item.DestinarioId).Nome;
                }
            }
            if(User.IsInRole("Docentes") || User.IsInRole("Comissao") || User.IsInRole("Empresas"))
            {
                dest = Model.Alunos.SingleOrDefault(x => x.UserId == item.DestinarioId).Nome+" "+Model.Alunos.SingleOrDefault(x => x.UserId == item.DestinarioId).Apelido;
            }
        }
        <td>
            @dest
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data.Day)/@Html.DisplayFor(modelItem => item.Data.Month)/@Html.DisplayFor(modelItem => item.Data.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data.Hour):@Html.DisplayFor(modelItem => item.Data.Minute)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Assunto)
        </td>
        @{
            if (item.StatusMensagem.ToString() == "Entregue")
            {
                <td align="center" style="text-align:left; font-size:200%; font-weight:bold; color:green;">
                    <p> &#9745 </p>
                </td>
            }
            else
            {
                <td align="center" style="text-align:left; font-size:200%; font-weight:bold; color:red;">
                    <p> &#9746;</p>
                </td>
            }
        }
        <td>
            @Html.ActionLink("Ver Mensagem", "LerMensagem2", new { id = item.MensagemId }, new { @class = "btn btn-info btn-md" })
        </td>
    </tr>
    }

</table>

