
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 class="display-4">Bem-vindo aos Estágios DEIS</h1>
    <p></p>
    <hr class="my-4" />
    <p>
        Devido ao elevado número de propostas de estágios, eis que surge o Estágios DEIS -
        uma plataforma web que permite a disponibilização de propostas de estágios / projectos
        por parte de empresa e / ou docentes, e a candidatura a esses estágios / projectos pelos
        Alunos.
    </p>
    <a class="btn btn-primary btn-lg" href="https://www.isec.pt/PT/Default.aspx" role="button">Saiba mais sobre o ISEC</a>
</div>
